.topList {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: #274352;
  width: 100%;
}
.topList a {
  color: #1ff;
  text-decoration: none;
}
.topList li:hover {
  border: 0.5px solid #f0c000;
  border-radius: 10px;
}
.topList li {
  width: fit-content;
  box-sizing: content-box;
}
.sell {
  border-left: 0.5px solid #fff;
}
.sideMenu {
  position: absolute;
  background-color: #fff;
  z-index: 9999;
  margin: 10px;
  opacity: 0.9;
  width: 200px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px;
  color: #000;
}
.title {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 0.5px solid #000;
}
.listItem ul {
  padding: 10px;
}
.listItem ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 10px #208080;
  margin: 10px 0;
  border-radius: 20px;
}
.tit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid #000;
  padding: 10px;
  color: tomato;
}
.contanier {
  margin: 10px auto;
  border-radius: 20px;
  width: 60%;
  height: 400px;
  box-shadow: 1px 1px 10px;
  padding: 10px;
  color: #f0c000;
  text-align: center;
}
.showImage {
  border-radius: 20px;
  margin: auto;
}
.items h3 {
  color: #f0c000;
}
.contanier span{
  box-shadow: 1px 1px 20px;
  color: #f0c000;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgb(22, 22, 22);
}
.contanier p{
  color:#000;
  background-color: antiquewhite;
  border-radius: 20px;
  opacity: 0.8;
  width: fit-content;
  padding:0 10px;
  text-shadow: 1px 1px 10px ;
  font-size: 18px;
  font-weight: 500;

}
